SECRET_KEY=ProjetDBB2@G5
JWT_SECRET_KEY=change-me-jwt
DB_SERVER=DESKTOP-VOHTE30\PROJET_DBB2_G5
DB_NAME=gestion_scolaire
DB_USER=sa
DB_PASSWORD=ProjetDBB2@G5
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_ENCRYPT=no
DB_TRUST_SERVER_CERT=yes
